{% extends 'base.html' %}

{% block content %}

<div class="form-page">

    <div class="form-container">

        <div class="form-header">
            <h1>
                <i class="fas fa-utensils"></i>
                Add New Recipe
            </h1>

            <p>
                Share your delicious recipe with everyone.
            </p>
        </div>

        <form method="POST" enctype="multipart/form-data">

            {% csrf_token %}

            <div class="form-group">
                <label>Recipe Title</label>
                {{ form.title }}
            </div>

            <div class="form-group">
                <label>Category</label>
                {{ form.category }}
            </div>
            <div>
                <label>New Category (Optional)</label>
<input type="text"
       name="new_category"
       placeholder="Enter new category">
            </div>

            <div class="form-group">
                <label>Description</label>
                {{ form.description }}
            </div>

            <div class="form-group">
                <label>Ingredients</label>
                {{ form.ingredients }}
            </div>

            <div class="form-group">
                <label>Instructions</label>
                {{ form.instructions }}
            </div>

            <div class="form-group">
                <label>Recipe Image</label>
                {{ form.image }}
            </div>

            <div class="form-buttons">

                <a
                    href="{% url 'dashboard' %}"
                    class="cancel-btn"
                >
                    Cancel
                </a>

                <button
                    type="submit"
                    class="submit-btn"
                >
                    <i class="fas fa-plus"></i>
                    Save Recipe
                </button>

            </div>

        </form>

    </div>

</div>

{% endblock %}