{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="dashboard">

    <div class="dashboard-header">
        <h1>👋 Welcome, {{ user.username }}</h1>
        <p>Manage your recipes and favorites here.</p>

        <a href="{% url 'add_recipe' %}" class="add-btn">
            <i class="fa-solid fa-plus"></i>
            Add Recipe
        </a>
    </div>

    <div class="stats-container">

        <div class="stat-card">
            <i class="fa-solid fa-utensils"></i>
            <h2>{{ total_recipes }}</h2>
            <p>Total Recipes</p>
        </div>

        <div class="stat-card">
            <i class="fa-solid fa-heart"></i>
            <h2>{{ total_favorites }}</h2>
            <p>Favorites</p>
        </div>

    </div>


    <!-- My Recipes -->
    <h2 class="section-title">
        My Recipes
    </h2>

    <div class="recipe-container">

        {% for recipe in recipes %}

        <div class="recipe-card">

            {% if recipe.image %}
            <img
                src="{{ recipe.image.url }}"
                alt="{{ recipe.title }}"
            >
            {% endif %}

            <div class="recipe-content">

                {% if recipe.category %}
                <span class="category-badge">
                    {{ recipe.category.name }}
                </span>
                {% endif %}

                <h2>{{ recipe.title }}</h2>

                <p>
                    {{ recipe.description|truncatewords:20 }}
                </p>
                

                <div class="dashboard-buttons">

    <a href="{% url 'recipe_detail' recipe.id %}" class="view-btn">
        <i class="fa-solid fa-eye"></i> View
    </a>

    <a href="{% url 'edit_recipe' recipe.id %}" class="edit-btn">
        <i class="fa-solid fa-pen-to-square"></i> Edit
    </a>
    

    {% if recipe.id in favorite_ids %}
        <a href="{% url 'favorite_recipe' recipe.id %}" class="favorite-btn">
    💔 Unfavorite
</a>
    {% else %}
        <a href="{% url 'favorite_recipe' recipe.id %}" class="favorite-btn">
            ❤️ Favorite
        </a>
    {% endif %}

    <a href="{% url 'delete_recipe' recipe.id %}" class="delete-btn">
        <i class="fa-solid fa-trash"></i> Delete
    </a>

</div>

            </div>

        </div>

        {% empty %}

        <div class="empty-card">
            <h3>No Recipes Added Yet 🍲</h3>
            <p>Start by adding your first delicious recipe.</p>

            <a
                href="{% url 'add_recipe' %}"
                class="add-btn"
            >
                Add Recipe
            </a>
        </div>

        {% endfor %}

    </div>

</div>

{% endblock %}