{% extends 'base.html' %}

{% block content %}

<div class="auth-container">
    <div class="auth-card">

        <h1>Welcome Back 👋</h1>
        <p>Login to continue exploring delicious recipes.</p>

        <form method="POST">
            {% csrf_token %}

            <div class="input-group">
                <label>Username</label>
                <input type="text" name="username"
                       placeholder="Enter your username">
            </div>

            <div class="input-group">
                <label>Password</label>
                <input type="password" name="password"
                       placeholder="Enter your password">
            </div>

            
        </form>

        <div class="auth-footer">

    <button type="submit" class="submit-btn">
        Login
    </button>

    <p>
        Don't have an account?
        <a href="{% url 'register' %}">Register</a>
    </p>

</div>

    </div>
</div>

{% endblock %}