{% extends 'base.html' %}

{% block content %}

<div class="auth-container">

    <div class="auth-card register-card">

        <h1>Create Account 🚀</h1>
        <p>Join TastyRecipes and save your favorite dishes.</p>

        <form method="POST">

            {% csrf_token %}

            <div class="input-group">
                <label>Username</label>
                {{ form.username }}
                {{ form.username.errors }}
            </div>

            <div class="input-group">
                <label>Email</label>
                {{ form.email }}
                {{ form.email.errors }}
            </div>

            <div class="input-group">
                <label>Password</label>
                {{ form.password1 }}
                {{ form.password1.errors }}
            </div>

            <div class="input-group">
                <label>Confirm Password</label>
                {{ form.password2 }}
                {{ form.password2.errors }}
            </div>

           <div class="auth-footer">

    <button type="submit" class="submit-btn">
        Register
    </button>

    <p>
        Already have an account?
        <a href="{% url 'login' %}">Login</a>
    </p>

</div>

    </div>

</div>

{% endblock %}